*{
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif;
}
header{
    position: fixed;
    background: rgb(15, 15, 15);
    padding: 20px;
    width: 100%;
    height: 30px;
}

.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area span{
    color: aqua;
}
.logout_btn{
    padding: 5px;
    background:aqua ;
    text-decoration: none;
float: right;
    margin-top: -30;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    transition: 1s;
}
.logout_btn:hover{
    background: rgb(29, 160, 160);
}
.slider{
    background: rgb(56, 56, 56);
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.8s;
}
.perfile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px    ;
    margin-bottom: 10px;
}
.slider h4{
    color:  white;
    margin: 0;
    margin-bottom: 20px;
}
.slider a{
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.3s;

}
.slider a:hover{
        background: rgb(29, 160, 160);
}

.slider i{
    padding-right: 20px;
}

label #sidebar_btn{
    z-index: 1;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.2s;
}
label #sidebar_btn:hover{
    color:rgb(29, 160, 160) ;

}
#check:checked ~ .slider{
    left: -190px;
}

#check:checked ~ .slider a span{
    display: none;
}

#check:checked ~.slider a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.container{
    margin-left: 250px;
    background: url(walpeper.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition:0.8s ;
}

#check:checked ~ .container{
    margin-left: 60px;

}
#check{
    display: none;
}